@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0.75rem;
}

button {
    cursor: pointer;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
    color: #4E5150;

    margin: 1rem 0;
}

.basket {
    background-color: #F2F2F2;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 7.5%;

    &__card {
        display: flex;
        width: 100%;

        & + & {
            margin-top: 1.75rem;
        }

        img {
            width: 30%;
            border-radius: 13px;
            margin-right: 1rem;
        }

        &__content {

            display: flex;
            flex-direction: column;

            h3 {
                font-weight: 600;
                font-size: 0.75rem;
                color: #4E5150;

                margin-bottom: 0.5rem;
            }

            .price {
                font-weight: 600;
                font-size: 0.875rem;
                color: #F2994A;

                margin-bottom: auto;
            }

            .old_price {
                font-size: 0.625rem;
                color: #4E5150;
                margin-left: 1rem;
                text-decoration: line-through;
            }

            &__quantity {
                border: 1px solid #828282;
                border-radius: 12px;

                width: 122px;
                height: 50px;

                display: flex;
                justify-content: space-around;
                align-items: center;

                button {
                    display: inline-block;
                    text-align: center;

                    border: none;
                    color: #282828;
                    background-color: #E0E0E0;

                    font-size: 1rem;
                    border-radius: 4px;
                    height: 20px;
                    width: 20px;

                    // Center text in button
                    line-height: 0px;
                }

                p {
                    color: #333333;
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
        }
    }
    
    .separator {
        width: 100%;
        border-bottom: 1px solid #BDBDBD;
        margin-bottom: 0.625rem;
    }

    &__price {
        width: 100%;
        display: flex;

        justify-content: space-between;
        
        font-weight: 600;
        color: #333333;
    }

    &__card + .separator {
        margin-top: 5rem;
    }

    &__price + .separator {
        margin-top: 1rem;
    }
}