@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body {
    margin: 0;
    padding: 4rem 20vw 0 20vw;
}

@media screen and (max-width: 1100px) {
    body {
        padding: 4rem 5vw 0 5vw;
    }
}

header {
    display: flex;
}


@media screen and (max-width: 1100px) {
    header {
        flex-direction: column;
    }
}


h1 {
    font-family: 'PT Serif', serif;
}

.who {
    margin-left: auto;
    width: 25rem;
    font-family: 'Poppins', sans-serif;
}


@media screen and (max-width: 1100px) {
    .who {
        margin-left: 0;
        width: 25rem;
    }
}


.who > h2 {
    text-transform: uppercase;
}

h2 {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.who > p {
    font-weight: 400;
}

/* CARDS */

article {
    display: grid;
    gap: 1em 2em;
    grid-template-columns: 1fr 1fr 1fr;

    margin: 5em 0;
}

@media screen and (max-width: 1100px) {
    article {
        grid-template-columns: 1fr 1fr;
    }
}

article > div:nth-child(3n + 2) {
    padding-top: 5em;
}

@media screen and (max-width: 1100px) {

    article > div:nth-child(3n + 2) {
        padding-top: 0;
    }

    article > div:nth-child(2n) {
        padding-top: 5rem;
    }
}

.card {
    display: flex;
}

.card > span {
    writing-mode: vertical-lr;
    margin-left: 1em;
}

img {
    width: 100%;
}

span {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    text-transform: uppercase;
}