@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

@mixin blue-btn {
    font-weight: 500;
    font-size: 0.875rem;
    color: white;
    background-color: var(--clr-blue);
    border: solid 1px var(--clr-blue);
    border-radius: 12px;
}

@mixin white-btn {
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--clr-gray-2);
    border: solid 1px var(--clr-gray-2);
    border-radius: 12px;
}

:root {
    --clr-background: #F2F2F2;

    --clr-gray-1: #333333;
    --clr-gray-2: #4F4F4F;
    --clr-gray-3: #828282; 
    --clr-gray-4: #C4C4C4;

    --clr-blue: #2F80ED;

    --main-font: 'Montserrat', sans-serif;
}

body {
    background-color: var(--clr-background);
    font-family: var(--main-font);

    padding: 5rem 15vw;

    @media screen and (max-width:1023px) {
        padding: 0;
    }
}

.card { // FIXME: Change to mixin ? 
    background: white;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
}

header {
    
    width: 100%;

    // Default text style
    color: var(--clr-gray-3);
    font-weight: 500;
    font-size: 1.125rem;

    padding: 1.25rem;
    display: flex;
    flex-direction: row;

    gap: 2rem;

    p {
        margin: 0;
    }
    
    img {
        width: 15rem;
        aspect-ratio: 1;
        object-fit: cover;

        border-radius: 12px;
    }

    .content {

        width: 100%;

        &__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            margin-bottom: 2rem;

            * > p:first-child {
                margin-bottom: 0.5rem;
            }

            &__description {
                .name {
                    font-weight: 600;
                    font-size: 1.5rem;
                    
                    color: var(--clr-gray-2);
                }
            }

            &__contact {
                color: var(--clr-gray-2);

                text-align: right;

                span {
                    vertical-align: middle;
                    margin-right: 0.5rem;
                }

                i {
                    margin-right: 0.5rem;
                }
            }
        }
    }

    .presentation {
        display: flex;
        flex-direction: column;

        gap: 1rem;
    }
}

.container {

    display: flex;
    padding-top: 1.5rem;

    aside {
        width: 35%;

        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }
    
    main {
        width: 63%;
        margin-left: auto;
    }
}

.skills {
    padding: 1.5rem;
    padding-bottom: 0.25rem;

    p {
        color: var(--clr-gray-2);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.125rem;

        margin: 0;
    }

    table {
        border-collapse: separate;
        border-spacing: 0 1em;

        width: 100%;
        
        * {
            margin: 0;
            padding: 0;
        }

        tr > td:first-child {
            min-width: 35%;
            color: var(--clr-gray-2);
            font-size: 1rem;
            font-weight: 500;
        }
    }
    
    .progress_bar {
        position: relative;
    
        width: 100%;
        height: 8px;
    
        border-radius: 12px;
    
        background-color: var(--clr-gray-4);
        
        .progress {
            position: relative;
            background-color: var(--clr-blue);
            
            border-radius: 12px;
            height: 8px;
        }
    }

}

.experiences {
    padding: 1.5rem;

    & > p {
        color: var(--clr-gray-2);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.125rem;

        margin: 0;
        margin-bottom: 1rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        width: 100%;

        &__job {
            width: 100%;
            display: flex;

            gap: 1rem;

            img {
                width: 64px;
                object-fit: contain;
                align-self: flex-start;

                margin-top: 1rem;
            }

            .job {
                &__dates {
                    font-weight: 500;
                    color: var(--clr-gray-2);
                    font-size: 0.875;

                    margin-bottom: 0.5rem;
                }

                &__title {
                    font-weight: 600;
                    color: var(--clr-gray-1);

                    margin-bottom: 1.5rem;
                }

                &__description {
                    font-weight: 500;
                    color: var(--clr-gray-3);

                    margin: 0;
                }
            }
        }
    }
}

.project-selector {

    margin-bottom: 1rem;
    padding: 1rem;

    p {
        margin: 0;
        margin-bottom: 1rem;

        font-weight: 500;
        font-size: 1.125rem;
        color: var(--clr-gray-2);
    }

    // TODO: Scroll bar on x axis for type buttons

    button {
        @include white-btn();
        padding: 0.5rem 1rem;
    }
    
    button[data-state='on'] {
        @include blue-btn();
    }
}

.project + .project {
    margin-top: 2rem;
}

.project {
    padding: 1rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 4fr 6fr;

    min-height: 18rem;

    & > img {
        width: 100%;
        max-height: 100%;

        align-self: center;
        
        // object-fit: scale-down;
        // object-fit: cover;
        
        border-radius: 12px;

        box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.3);
    }

    &__content {
        display: flex;
        flex-direction: column;

        .project-tag {
            font-weight: 500;
            color: var(--clr-gray-2);
            margin-right: 0.25rem;
        }

        &__name {
            font-weight: 500;
            font-size: 1.5rem;
            color: var(--clr-gray-1);
        }

        &__description {
            margin: 0;
            margin-bottom: 1rem;

            font-weight: 500;
            color: var(--clr-gray-3);
        }

        &__btns {
            margin-top: auto;
            
            font-size: 1.5rem;

            .project-btn-demo {
                @include blue-btn();
                padding: 1rem 2.5rem;
                margin-right: 0.5rem;
            }
            
            .project-btn-code {
                @include white-btn();
                padding: 1rem 2.5rem;
            }

        }
    }
}

/* #region Mobile Version*/

.mobile-disclaimer {

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    
    @media screen and (min-width:1024px) {
        display: none;
    }
    
    .mobile-card {
        background-color: white;
        width: 80vw;
        padding: 2rem 1rem;

        border-radius: 12px;
        box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
        
        text-align: center;

        font-size: 1.25rem;
    }

    i {
        font-size: 3rem;
    }
}

@media screen and (max-width:1023px) {
    header, .container {
        display: none;
    }
}

/* #endregion */
