@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --gray-1: #333333;
    --gray-2: #4F4F4F;
    --gray-3: #828282;
    --gray-4: #BDBDBD;
    --gray-5: #E0E0E0;
    --gray-6: #F2F2F2;
    
    --red: #EB5757;
    --green: #27AE60;
    --blue: #2D9CDB;
    --dark-blue: #100E1D;

    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

/* === Header === */
/* #region */

header {
    display: flex;
    align-items: center;

    color: var(--gray-1);

    padding: 1rem;

    @media screen and (min-width:1024px) {
        padding: 2rem 3rem;
    }
    
    span {
        font-weight: 800;
        font-size: 1.5rem;
        @media screen and (min-width:1024px) {
            font-size: 2.25rem;
        }
    }
    
    nav {
        margin-left: auto;
    
        @media screen and (max-width:1024px) {
            display: none;
        }
    
        & > a {
            font-weight: 500;
            font-size: 1.5rem;
        
            margin-left: 3rem;

            @media screen and (max-width:1024px) {
                font-size: 1.375rem;
                margin-left: 0;
                margin-bottom: 2rem;
            }
        }

        @media screen and (max-width:1024px) {
            display: flex;
            flex-direction: column;
            align-items: center;

            position:fixed;
            top: 3rem;
            right: -100%;

            width: 100%;
            height: 100%;
    
            background-color: #ffffff;
            
            transition: 0.5s;
            z-index: 1;
            
            overflow: hidden;
    
            padding-top: 15vh;
        }
    }
}

/* === HAMBURGER MENU === */
/* #region */

.check{
    display: none;
    cursor: pointer;

    @media screen and (max-width:1024px) {
        display: inline;
        right: 1rem;

        height: 40px;
        width: 40px;

        position: absolute;
        z-index: 3;
        opacity: 0;

        &:checked ~ .ham-icon-container .ham-icon{
            /* transform: rotate(135deg); */
            transform: rotate(45deg);
            transition: 0.3s ease;
        }
        &:checked ~ .ham-icon-container .ham-icon::before, &:checked ~ .ham-icon-container .ham-icon::after{
            top: 0;
            transform: rotate(90deg);
        }
    
        &:checked ~ .ham-list{
            right: 0;
        }
    }
}

.ham-icon-container{
    display: none;

    @media screen and (max-width:1024px) {
        float: right;

        height: 40px;
        width: 40px;
        position: relative;
        margin-left: auto;

        display: block;
    }
}

.ham-icon {
    background: var(--gray-1);
    height: 2px;
    width: 25px;
    position: relative;
    margin: auto;
    display: flex;
    top: 50%;

    &::before {
        content:'';
        position: absolute;
        background: var(--gray-1);
        height: 2px;
        width: 25px;
        top: -8px; 
    }

    &::after {
        content:'';
        position: absolute;
        background: var(--gray-1);
        height: 2px;
        width: 25px;
        top: 8px;
    }
}

/* #endregion */

/* #endregion */

/* === Footer === */
/* #region */

footer {
    width: 100%;

    background-color: var(--dark-blue);
    color: #ffffff;

    padding: 2rem 2rem 1rem 2rem;

    .footer__links {
        display: flex;
        flex-direction: column;

        & > * {
            margin-bottom: 4rem;
        }

        &__internal {
            ul {
                list-style-type: none;
                padding-left: 0;
                font-size: 1.125rem;
                line-height: 200%;
            }
        }

        &__external {
            p {
                font-weight: 800;
                font-size: 2.25rem;
                color: var(--gray-6);
            }

            img {
                margin-right: 0.625rem;
            }
        }

        &__contact {

            p {
                color: var(--gray-3);
                font-size: 0.625rem;
                font-weight: 500;
                margin-bottom: 0.5rem;
            }

            form {
                display:flex;
                flex-direction:row;
                
                padding: 0.25rem;
                background-color: var(--gray-6);
                border-radius: 12px;

                height: 3rem;
                width: 80%;

                font-size: 0.875rem;

                input {
                    background-color: inherit;
                    border: none;
                    outline: none;

                    width: 70%;
                    height: 100%;
                    margin-left: 0.25rem;
                }

                button {
                    margin-left: auto;
                    background-color: var(--blue);
                    color: var(--gray-6);
                    border-radius: 12px;
                    border: none;
                    cursor: pointer;

                    width: 25%;
                }
            }
        }
    }

    .footer__signature {
        text-align: center;
        font-weight: 500;
        font-size: 0.875rem;

        margin-top: 5rem;

        & a {
            text-decoration: underline;
            font-weight: 700;
        }
    }
}

/* #endregion */